@import "imports/links.css";
@import "imports/variables.css";

@font-face {
    font-family: 'BootsAndSpurs';
    src: url('../fonts/BootsAndSpurs.woff2') format('woff2'),
         url('../fonts/BootsAndSpurs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body { 
    font-family: var(--text-paragraph), Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
body, .products h3  {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1, h2, h3, .logo {
    font-family: var(--text-heading);
    text-align: center;
}

header, 
footer{
    background-color: var(--color-header-footer);
    color: #fff;
}

header {
    display: flex;
    align-items: center;
    
}

nav li {
    display: inline-block;
    
}

nav {
    display: flex;
    align-items: center;
    background-color: var(--color-header-footer);
    margin-left: 25px;
}

img {
    width: 100%;
}


.current { 
    font-weight: bold;
    text-decoration: underline;
}

.products {
    background-color: #fbfbfb;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

.products img {
    grid-column: -1/1;
}

.products h2,
.products h3,
.products p {
  grid-column: 1;
  font-size: 0.9em;
  margin: 5px;
  text-align: left;
  
}

.products--sale {
    display: flex;
}

.old-price {
    text-decoration: line-through;
}


input, select, textarea {
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    margin: 10px 10px 10px 0px;
    padding: 10px;
}

textarea {
    height: 65%;
    min-height: 100px;
}


footer {
    text-align: center;
    padding: 20px;
}




