@font-face {
    font-family: 'BootsAndSpurs';
    src: url('../fonts/BootsAndSpurs.woff2') format('woff2'),
         url('../fonts/BootsAndSpurs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
}


h1, h2, h3 {
    font-family: 'BootsAndSpurs';
}


nav li {
    display: inline-block;
    
}

nav {
    padding: 20px;
    background-color: #636363;
}
.logo
{
    font-family: 'BootsAndSpurs';
}

.welcome {
        background-image: url('/images/home-header.jpg');
        background-size: cover; 
        background-position-x: right; 
        background-position-y: bottom;
        background-repeat: no-repeat; 
        padding: 50px 20px; 
        color: white; 
        min-height: 70vh;
        position: relative;
}

.welcome__content {
    position: absolute;
    text-align: center;
    top: 100px;
    left: 100px;
}


#home-header {
   width: 100%;
   height: auto;
   max-width: 100%;
}

#home-info {
    width: 700px;
    height:auto;
    border-radius: 100px;
}

.review-profile {
    width: 300px;
    height: auto;
    border-radius: 50%;

}

header, 
footer{
    background-color: #000000;
    color: #fff;
}

header a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}

.reviews {
    background-color: rgb(227, 227, 227);
}

.cta {
    font-size: 0.9em;
    text-transform: uppercase;
    text-decoration: none;
    background: red;
    color: #fff;
    padding: 10px 80px;   
    border-radius: 5px;

}

.cta-small {
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: none;
    background: red;
    color: #fff;
    padding: 8px 30px;   
    border-radius: 5px;
}



#cta-sale {
    background-color: green;
    color: #fff;
    text-decoration: none;
    border-color: green;
    padding: 8px 30px;   
    border-radius: 5px;
}

.current { 
    font-weight: bold;
    text-decoration: underline;
    
}




footer {
    text-align: center;

}

input, select, textarea {
    border: 1px solid #c4c4c4;
    border-radius: 4px;
}
